* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-image: url(background.jpg);
}

h1 {
    margin-top: 40px;
    text-align: center;
}

.actionBox {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 128px auto;
    width: 520px;
    min-height: 600px;
    background: #41476b;
    text-align: center;
    border-radius: 10px;
    color: white;
    opacity: 70%;
}

.content{
    margin-top:20px;
}

.todo-form {
    margin-top: 30px;
}

.todo-input {
    margin-top: 20px;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #aa9cc4;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
}

.todo-button {
    margin-left: -5px;
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(90deg, #aa9cc4, #d39df0);
    color: #fff;
    text-transform: capitalize;
    transition: 0.3s ease-in;
}

.to-do-items {
    width: 500px;
    margin: 10px;
}

.item{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 2px;
    padding: 16px;
    color: #454545;
    margin-top: 10px;
    font-size: 1rem;
    text-transform: uppercase;
}

.item:nth-child(even){
    background-color: rgb(192, 192, 192);
}


.item i{
    cursor: pointer;
    margin: 0 5px;
}

@media(max-width:768px){
    .actionBox{
        align-items: center;
        flex-direction: column;
    }
    
    .todo-form{
        width: 100%;
    }

    .to-do-items{
        width: 100%;
    }
}

@media(max-width:480px){
    .todo-form{
        width: 74%;
    }
}
@media(max-width:320px){
    .todo-form{
        width: 60%;
    }
}
