html {
    overflow-y: hidden;
}

body {
    background-color: #edede9;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: #1d1c1c;
    font-size: 1.6em;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {

    color: white;
}




.navbar-right {
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
}

.navbar-right a {
    margin-left: 1.5em;
    transition: 0.3s;
}

.navbar-right a:hover {
    color: rgb(169, 169, 169)
}

.angry {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    min-height: 87vh
}


.content {
    max-width: 35%;
    margin: 25px 0;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.content h1 {
    text-transform: uppercase;
    width: 35%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    border-bottom: 1px solid grey;
}

.content p {
    margin-top: 30px;
    text-align: center;
    width: 80%;
    font-size: 1.5rem;
    font-weight: 500;
}

.content img {
    height: 250px;
    border: 3px solid #1d1c1c;
    border-radius: 50%;
    /* box-shadow: 0px 1px 8px black; */
}


.footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1c1c;
    height: 3.5vh;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.content-2 {
    text-align: center;
    display: flex;
    justify-content: right;
    padding-right: 10%;
    margin: 120px 0;
}

.interests-hobbies img {
    height: 96px;
}

li {
    list-style-type: none;
    float: left;
    margin: 30px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}


.toolkit-items {

    text-align: center;
    display: flex;
}
.interests-hobbies {
    display: flex;
    justify-content: center; 
}

.interests-hobbies li{
    margin-right: 30px;
}