body {
    background-color: #edede9;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

input {
    background-color: #e6e6e6;
    border: 1px solid #595959;
}

a {
    text-decoration: none;
}

form {
    text-align: center;
}

.navbar {
    background-color: #1d1c1c;
    font-size: 1.6em;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {

    color: white;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
}

.navbar-right a {
    margin-left: 1.5em;
    transition: 0.5s;
}

.navbar-right a:hover {
    color: rgb(146, 146, 146);
}

h1 {
    text-transform: uppercase;
}

.contact-content {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.contact-content p {
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.5em;
}

.contact-content a img {
    margin-top: 30px;
    width: 100px;
    height: 100px;
    padding: 0px 10px;
    transition: 0.5s;
}

.contact-content a img:hover {
    transform: scale(1.07);
}



.footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1c1c;
    height: 3.5vh;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contents {
    margin-top: 18vh;
}