body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: #1d1c1c;
    font-size: 1.6em;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {

    color: white;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
}

.navbar-right a {
    margin-left: 1em;
    transition: 0.5s;
}

.navbar-right a:hover {
    color: rgb(146, 146, 146);
}

main h1,
h2 {
    display: flex;
    color: #7d7d7d;
    background-color: white;
    font-size: 5rem;
    align-items: center;
    justify-content: center;
    transition: 1s ease-in;
}

h1 {
    margin-top: 30vh;
}


main h1:hover {
    color: #1d1c1c;

}

main h3 {
    text-align: center;
    font-size: 2rem;
    color: #7d7d7d;
}

main p {
    text-align: center;
    font-size: 1.3rem;
    color: #7d7d7d;
}

.main-text {
    color: #1d1c1c;
    display: flex;
    height: 300px;
    width: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.gitlinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gitlinks img {
    width: 100px;
    height: 100px;
    padding: 0px 10px;
    transition: 0.5s;
}

.gitlinks img:hover {
    transform: scale(1.05);
}

.footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1c1c;
    height: 3.5vh;
    position: fixed;
    bottom: 0;
    width: 100%;
}